            @{
    ViewBag.Title = "Index";
Layout="~/Views/Shared/HR.cshtml";
}

<h2>Error Bank</h2>

<div class="container">
    <hr />
    <table class="table table-hover" id="table">
        <thead>
            <tr>
                <th>
                    Student
                </th>
                <th>
                    Message
                </th>
                <th>
                    Description
                </th>
                <th>
                    Solution
                </th>
                <th>
                    Department
                </th>
                <th>
                    Date
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody class="tbody"></tbody>
    </table>
</div>


@section Scripts {
<script src="~/Scripts/DataTable/jquery.dataTables.min.js"></script>
<link href="~/Scripts/DataTable/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/Retrieves/RetrievingErrorBank.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}